<!DOCTYPE html>
<html lang="en" ng-app="gingerApp">
<head>
    <meta charset="UTF-8">
    <title>Ginger Payments - Frontend Assignment</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,300,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/main.css" />

</head>
<body ng-controller="MainController as main">
    <header>
        <h1>Assignment</h1>
    </header>
    <main>
        <aside>
            <button class="btn btn-default" ng-click="main.callbackButton()">Callback</button>
            <button class="btn btn-default" ng-click="main.promise()">Promise</button>
            <button class="btn btn-default"  data-toggle="modal" data-target="#addPayment">Add payment</button>
        </aside>

        <section>
            <div ng-if="main.payments.length > 0">
                <p>Payment method filter</p>
                <input type="radio" ng-model="main.filter.Method" name="Method" value=""/> All
                <input type="radio" ng-model="main.filter.Method" name="Method" value="creditcard"/> CreditCard
                <input type="radio" ng-model="main.filter.Method" name="Method" value="bank-transfer"/> Bank Transfer
                <input type="radio" ng-model="main.filter.Method" name="Method" value="ideal"/> Ideal
            </div>
            <br /> 
            <table class="table table-hover" ng-if="main.payments.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Merchant</th>
                        <th>Amount</th>
                        <th>Method</th>
                        <th>Status</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payment in main.payments | filter:{method: main.filter.Method}" class="{{payment.class}}">
                        <td>{{$index}}</td>
                        <td>{{payment.merchant}}</td>
                        <td>{{payment.amount | currency:payment.currency+" ":2}}</td>
                        <td>{{payment.method}}</td>
                        <td>{{payment.status}}</td>
                        <td>{{payment.created}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!----------  MODAL ----- -->
    <div class="modal fade" id="addPayment" tabindex="-1" role="dialog" aria-labelledby="addPaymentLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add payment</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Merchant</label>
                <input ng-model="main.newPayment.merchant" type="text" class="form-control" placeholder="Merchant">
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input type="text" ng-model="main.newPayment.amount"  class="form-control" placeholder="amount">
              </div>
              <div class="radiobox">
                <label>Payment</label>
                <input type="radio" ng-model="main.newPayment.method" name="method" value="creditcard"/> CreditCard
                <input type="radio" ng-model="main.newPayment.method" name="method" value="bank-transfer"/> Bank Transfer
                <input type="radio" ng-model="main.newPayment.method" name="method" value="ideal"/> Ideal
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="main.addPayment()" class="btn btn-primary">Add</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</body>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
<script type="text/javascript" src="services/service.gingerclient.js"></script>

<script type="text/javascript" src="controllers/controller.main.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
