body{
    font-family: Open Sans;
}
h1 {
    text-align: center;
}
aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
button {
    margin: 5px;
    padding: 5px;
}
section{
    width: 74%;
    margin-left:3%;
    margin-right:3%;
}
main {
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px;
}